.git
.idea
.vscode
.env
.env.testing
node_modules
writable/logs/*
writable/cache/*
writable/session/*
writable/debugbar/*
writable/uploads/*
writable/exports/*
writable/backups/*
Dockerfile
docker-compose.yml
phpunit.xml.dist
tests
README.md
LICENSE
!writable/logs/index.html
!writable/cache/index.html
!writable/session/index.html
!writable/debugbar/index.html
!writable/uploads/index.html
